@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global.css file */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* .background {
  background: linear-gradient(135deg, #e0f7fa, #f3e5f5); 
  height: 100vh;
} */
.navshadow{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}